nav {
    background: rgb(225, 169, 63);
  }
  
  
  .btn {
    background:rgb(225, 169, 63) ;
  }
  
  .center {
    text-align: center;
  }
  .boton {
    background: rgb(201, 199, 125);
    border-color: white;
    border-radius: 0.2rem;
  }
  
  .img {
    display: flex;
    width: 80vh !important;
    height: 80vh !important;
    margin: 200px 200px 100px 200px !important;
    position: absolute !important;
    right: 10px !important;
  }
  
  .card{
      display: flex;
      margin: 100px 0px 0px 0px;
     
  }
  
  .caja {
  
      display: flex;
    margin: 100px 100px 200px 200px !important;
    width: 300rem;
  
  }